body {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    background-image: url(https://www.gameontabletop.com/contenu/image/ks_projet_img/91_bg_mJww8kimHe-nt0sEll1q-8Ruwa.jpg);
    background-repeat: no-repeat;
    background-color: black;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 30%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 2px 4px 2px 12px;
    text-decoration: none;
    text-decoration-color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 20px;
    color: #f97a37;
    display: block;
    border: 1px solid black;
    background: none;
    background-color: #05abe7;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    background-color: #0476a0;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  /* Div box for calculator for wokring out DC's */
  .dcCalculator {
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
    text-decoration-color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 20px;
    color: #f97a37;
    padding: 1px;
    border: 1px solid black;
    background-color: #05abe7;
  }

  table, th, td {
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
    text-decoration-color: aliceblue;
    font-size: 20px;
    color: black;
    padding: 1px;
    border: 5px solid black;
    background-color: #05abe7;
  }


